<h3>Search</h3>

<form #f="ngForm" (ngSubmit)="search(f)">
  <input type="text" name="ingredients" [(ngModel)]="ingredients" />
  <button type="submit">search recipes</button>
</form>
<div class="result">
  <div *ngIf="recipes$ | async" >
    <div *ngFor="let r of recipes$ | async" class="recipe">
      <h3>{{ r.title }}</h3>
      <img [src]="r.image" />
      <ul>
        <li *ngFor="let ing of r.usedIngredients">
          {{ ing.original }}
        </li>
      </ul>
      <!-- {{ r | json }} -->
    </div>
  </div>
</div>
